html{
  height: 100%;
  overflow-x: hidden;/*防止視窗頁面右邊留白*/
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  min-width: 600px;/*限制網頁最小視窗寬度*/
  overflow-x: hidden;/*防止視窗頁面右邊留白*/
}

* {
  box-sizing: border-box;
}

.container-fluid {
  padding:0;
}


h1, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
}

h2{
 margin-bottom: 30px;
 text-align: center;
 font-size: 40px;
 line-height: 50px;
 text-transform: uppercase;
 letter-spacing: 2px; 
 padding-top: 40px;
}

.title{
font-family: 'Emilys Candy', cursive;
 padding-left:10px;
 padding-right:10px;
}

ul, ol {
  list-style: none; /*清除前面點點*/
  margin: 0px;
  padding: 0px;
}

a, a:hover, a:focus {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}


img {
  height: auto;
  width: 85%;
  display: block;
  margin: auto;/*圖片水平至中*/
}


section {
  padding: 100px 0;
}


/*navbar*/
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 20px;
}

/*header 的 positon 是設定為 fixed ，position: fixed; 的元素它會停留在一個固定的位置，但是不會在頁面上佔有空間*/
#logo {
  float:left;
  width:150px;
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.nav{
  float:right;
}
.navbar{
  padding: 10px 0px;
  margin:0px;
}


.nav li{
  display: inline-block;/*設定導覽按鈕以 inline-block 顯示,  inline（水平排列)同時又保留 block 的特性讓我們可以設定 padding 和 margin。*/
  padding-left: 5px;
}

.nav li a{
  color: #fff;
  text-transform: capitalize;/*設定導覽列中的超連結文字首字大寫*/
  display: block; /*<a>標籤預設是以 inline 顯示, 設定導覽列中的超連結文字以 block 顯示，讓超連結文字可以正確的設定 padding 和 margin */
  padding: 10px 12px;
}

.nav-details{
  padding-right:20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-toggle {
    padding-right:  30px;
}

div#bs-example-navbar-collapse-1 {
    padding-right: 25px;
}

.home_bg {
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position:relative;
}

.container_table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
}

.container_table_cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.container_table_cell h2 {
  color: #fff;
  text-transform: capitalize;
  font-size: 54px;
}

.social_icons a {
  color: #fff;
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  font-size: 19px;
  margin-right: 7px;
}
.slogan{
    padding:0 20px;
    font-family: 'Baloo', cursive;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  /* 寫法2 left: 0; right: 0; top: 0; height: 100%; */
  /* 寫法3 left: 0; width: 100%; top: 0; bottom: 0;*/
}

/*已經設定 .overlay 的 position: absolute; 了，所以就必須要幫他找到「定位點」，
如果我只有 left: 0; top: 0; 而沒有 width: 100%; 的話，.overlay 的寬度會是 0 */
/*--absolute是以最相近的父層有設定relative為準(若父層沒有，就往上找祖父層，若一直都沒有，則最後以body為準)
，再設定top、right、bottom、left的值，以"有設定relative的父層或body的位置"做位置的調整。*/


/*  ---------------------------------------about me-----------------------------------------------*/
.about_me {
  padding: 100px 0;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both; /*一次清除 float: left 和 float: right的浮動*/
}

.contact-heading{
  margin-bottom: 75px; /*h2 標題將下方元素推開 75px*/
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.avatar img{
  margin:0 auto;
  margin-top: 5px;
  height: auto;
  width: auto;
  margin-bottom: 20px;
}

.personal-info h3,.skill h3 {
  letter-spacing: 2px;
  margin: 5px auto;
  text-transform: capitalize;
  padding:0 5px;
}

.personal-info.col-xs-12 {
    margin-bottom: 20px;
}

.personal-info p,.skill p,.skill li {
  font-size: 20px;
  color: #767676;
  line-height: 24px;
  text-align: justify;
  margin: 0 auto;
  padding:0 5px;

}

.skill {
  margin: 20px auto;
}


.button-group .download_cv {
  margin: 30px auto;
  margin-right: 18px;
  display: inline-block;
}


.button-group a {
  display: block;
  color: #000;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 38px;
  text-transform: capitalize;
}

/*  ---------------------------------------分隔島----------------------------------------------*/
.line.clearfix {
  background-image: url(../images/line.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50%;
  position:relative;/*提供overlay2 class作為基準點*/
}


.container_table_cell_2 h2 {
  color: #fff;
  font-size: 40px;
  text-transform: lowercase;
}
.slogan:first-letter{
  text-transform: uppercase;/*sologan首字大寫*/
}

.overlay_2 {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0; top: 0; width: 100%; height: 100%;
  /* 寫法2 left: 0; right: 0; top: 0; height: 100%; */
  /* 寫法3 left: 0; width: 100%; top: 0; bottom: 0;*/
}


/*----------------------------------latest work-------------------------*/

.picture{
  margin-bottom: 20px;
}

.intro{
  margin-top:10px;
}
  .avatar>img{
     width: 90%;
  }


.intro.col-xs-6 {
    padding-top: 10px;
}

.latest-work{
  padding-top:20px;
}

section#portfolio {
    padding-top: 0;
    padding-bottom: 0;
}


.carousel-indicators li {
  background-color: #999;
  background-color: rgba(70, 70, 70, 0.25);
}

.carousel-indicators .active {
  background-color: #444;
}

/*contact*/
.row{
padding-top: 100px;
}
.background{
  background-image: url(../images/1.jpg);
  background-position: center;
  background-size: cover;/*讓背景圖隨著瀏覽視窗縮放*/
}

.carousel-inner{
  padding:100px 0;
}

.project-details-heading{
  font-size: 18px;
  margin-top: 10px;
  text-decoration: underline;
}

.project-details{
  font-size: 18px;
  margin-top: 10px;
}
section#contact{
  padding-top:0px;
  padding-bottom:0px;

}

section#contact .section-heading {
    color: ;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section#contact .form-group {
    margin-bottom: 25px;
}


section#contact .form-group input.form-control {
    height: auto;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
  }

section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group textarea.form-control {
    height: 236px;
}

.form {
    margin-bottom: 60px;
    margin-bottom: 60px;
    background: rgba(256,256,256,0.4);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    min-width: 340px; /*防止contact-heading文字超出form表單*/
}



/*contact*/
.contact_form, .btn{
    font-size: 20px;
}

/*footer*/
footer {
  padding: 20px 0;
  background-color: #000;
  color: #fff;
  text-align: center;
  font-size:18px;
}

.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 15px;
}
